// ==========================================================================
// Color Palette
// ==========================================================================
$white: #ffffff;
$black: #000000;

$fg_gray_1: rgba($black, .1);
$fg_gray_2: rgba($black, .2);
$fg_gray_3: rgba($black, .3);
$fg_gray_4: rgba($black, .4);
$fg_gray_5: rgba($black, .5);
$fg_gray_6: rgba($black, .6);
$fg_gray_7: rgba($black, .7);
$fg_gray_8: rgba($black, .8);
$fg_gray_9: rgba($black, .9);

// ==========================================================================
// Spacing
// ==========================================================================
$spacing-1: 30px;
$spacing-2: 20px;
$spacing-3: 15px;
$spacing-4: 10px;
$spacing-5: 5px;

// ==========================================================================
// Typography
// ==========================================================================
$family1: Arial, sans-serif;

$lightest-font-weight: 200;
$light-font-weight: 300;
$base-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;

// ==========================================================================
// Font Sizes
// ==========================================================================

$font-size-0: 2.5rem;		// = 40px
$font-size-1: 2rem; 		// = 32px
$font-size-2: 1.625rem; 	// = 26px
$font-size-3: 1.5rem; 		// = 24px
$font-size-4: 1.375rem;		// = 22px
$font-size-5: 1.125rem; 	// = 18px
$font-size-6: 1rem; 		// = 16px
$font-size-7: .9375rem; 	// = 15px
$font-size-8: .875rem;		// = 14px
$font-size-9: .8125rem; 	// = 13px
$font-size-10: .75rem; 		// = 12px
$font-size-11: .625rem; 	// = 10px
$font-size-12: .5rem; 		// = 8px

$font-letter-spacing-1: .0187em;
$font-letter-spacing-2: .03em;
$font-letter-spacing-3: .05em;
$font-letter-spacing-4: .1em;
